.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.34vw;
    background: #fff;
    padding-bottom: 0.34vw;
    width: 40.816vw;
    border-radius: 0.68vw;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.612vw;
    width: 100%;
    margin-top: 1.361vw;
}

.text{
    color: #4a6741;
    font-size: 3.265vw;
    font-weight: 700;
}

.underline{
    width: 4.15vw;
    height: 0.408vw;
    background: #4a6741;
    border-radius: 0.612vw;
}

.inputs{
    margin-top: 1.701vw;
    display: flex;
    flex-direction: column;
    gap: 1.701vw;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 32.653vw;
    height: 5.442vw;
    background: #dbdbdb;
    border-radius: 0.408vw;
}

.input img{
    margin: 0vw 2.041vw;
}

.input input{
    height: 3.401vw;
    width: 27.211vw;
    background: transparent;
    border: none;
    outline: none;
    color: #676767;
    font-size: 1.293vw;
}


.submit_container{
    display: flex;
    gap: 2.041vw;
    margin: 2.041vw auto;
    align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.966vw;
    height: 4.014vw;
    color: #fff;
    background: #4a6741;
    border-radius: 3.401vw;
    font-size: 1.293vw;
    font-weight: 700;
    cursor: pointer;
}

.grey{
    background: #dbdbdb;
    color: #676767;
}

.logo{
    align-items: center;
    width: 100vw;
    margin: 1.361vw auto 1.361vw auto;
}

.logo img{
    width: 15vw;
    margin-left: 42.5vw;
}