.settingsLayout {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.settingButtons button, .settingForms button{
    background-color: #3C5246;
    color: white;
    font-size: medium;
}

.settingButtons {
    margin-left: 10%;
}

.settingButtons button {
    margin-bottom: 5.5%;
}

.settingForms form {
    width: 75%;
    padding: 5%;

    background-color: #5E806D;
    color: white;
    border-width: 8px;
    border-color: #3C5246;
}

.settingForms button {
     float: right;
     margin-top: 13%;
}

.settingForms h2 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 3%;
}

.settingForms input {
    margin-bottom: 3%;
    background-color: #F0ECD1;
    color: black;
    
    border-width: 6px;
    border-color: #F0ECD1;
    border-radius: 5%;
    font-size: medium;
}

.settingForms h3 {
    text-align: center;
    margin-bottom: 5%;
}

.settings, .faq, .contactUs, .accountInfo, .editBio, .security, .notify, .accessibility {

    background-color: #3C5246;
    color: white;
    font-size: medium;

}

.settings, .accountInfo {
    margin-top: 2.5%;
}

.contactUs, .accessibility {
    margin-bottom: 5%;
}

.logout {
    background-color: #3C5246;
    color: #ff2222 !important;
    font-size: medium;
    margin-top: 2.5%;
}

.logout:hover {
    background-color: #cc0000 !important;
    color: white !important;
}

.row1, .row2 {
    display: grid;
    grid-template-rows: 25% 25%;
    width: 50%;
}